/* Basis.css 

1. Grundlegende Einstellungen
2. Grundlegende Textgestaltung
3. Elementselektoren und allgemeine Klassen

Es wird alles ueberkommentiert, da wir ja alle dumm sind und nicht verstehen, was selbst erklarender Code sein soll.
*/

@media screen {
    /* Border-box */
    html {
        box-sizing: border-box;
    }

    *, *::before, *::after {
        box-sizing: inherit;
    }
    
    /* Grundlegende Textgestaltung */
    
    h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    body {
        /* Variante 1 */
        font-family: sans-serif;

        /* Variante 2 */
        font-family: Helvetica, Arial, sans-serif;

        /* Variante 3 */
        font-family: 'Roboto';

        /* Schriftgroesse explizit festlegen */
        font-size: 1rem;
    }
    
    h1 {font-size: 2.5rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.75rem;}
    h4 {font-size: 1.5rem;}
    h5 {font-size: 1rem;}
    h6 {font-size: 0.5rem;}
    
    .break {
        margin-bottom: 3em;
    }
}